{% extends 'index.html' %}

{% block title %} | Pacientes {% endblock title %}

{% block content %}

<div class="text-center">
    <h1>Pacientes</h1>
</div>

<div class="container">
   
        
    <a class="btn btn-primary" href="/agregarpaciente/">Agregar</a>
    <br><br>

    <table class="table table-bordered border-primary">
        <thead>
            <th>Nombre</th>
            <th>Fecha Nacimiento</th>
            <th>Telefono</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            {% for paciente in entity %}
                <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.fecha_nacimiento }}</td>
                    <td>{{ paciente.telefono}}</td>
                    <td>
                        <a class="btn btn-secondary" href="/editarpaciente/{{paciente.idpaciente}}/">Editar</a>
                        <button type="button" class="btn btn-danger" onclick="eliminarregistro(
                            id = '{{ paciente.idpaciente}}', 
                            objeto='paciente',
                            objeto2='{{paciente.nombre}}'
                            )">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "paginacion.html" %}
</div>


{% endblock content %}