{% extends 'index.html' %}

{% block title %} | Pacientes {% endblock title %}

{% block content %}
<div class="text-center">
    <h1>Pacientes</h1>
</div>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="btn btn-primary" href="/agregarpaciente/">Agregar</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

    <table class="table table-bordered border-primary">
        <thead>
            <th style="width: 500px;" >Nombre</th>
            <th style="text-align: center;">Fecha Nacimiento</th>
            <th>Telefono</th>
            <th style="text-align: center;">Opciones</th>
        </thead>
        <tbody>
            {% for paciente in entity %}
                <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td style="text-align: center;">{{ paciente.fecha_nacimiento }}</td>
                    <td>{{ paciente.telefono}}</td>
                    <td class="centrado2">
                        <a class="btn btn-secondary" href="/editarpaciente/{{paciente.idpaciente}}/">Editar</a>
                        <button type="button" class="btn btn-danger" onclick="eliminarregistro(
                            id = '{{ paciente.idpaciente}}', 
                            objeto='paciente',
                            objeto2='{{paciente.nombre}}'
                            )">Eliminar</button>
                        <a class="btn btn-info" href="/historial/{{paciente.idpaciente}}/">Historial</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "paginacion.html" %}



{% endblock content %}