{% extends 'index.html' %}

{% block title %} | Consultas {% endblock title %}

{% block content %}
<div class="text-center">
        <h1>Consultas</h1>
</div>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="btn btn-primary" href="/agregarconsulta/">Agregar</a>
        <a class="btn btn-secondary" href="/consultas/">Restablecer</a>
      <div class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Buscar paciente" aria-label="Search" name="consulta">
        <button class="btn btn-outline-success" type="submit" onclick="buscar_consulta()">Buscar</button>
      </div>
    </div>
  </nav>
    <table class="table table-bordered border-primary">
        <thead>
            <th>Numero</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Paciente</th>
            <th>Observaciones</th>
            <th>Precio</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for consulta in entity %}
                <tr class="trconsulta">
                    <td class="tdconsultaid">{{ consulta.idconsulta }}</td>
                    <td class="tdconsulta">{{ consulta.fechaconsulta }}</td>
                    <td class="tdconsulta">{{ consulta.horaconsulta }}</td>
                    <td class="tdconsulta">{{ consulta.paciente.nombre}}</td>
                    <td class="tdconsultaobrservaciones">{{ consulta.observaciones }}</td>  
                    <td class="tdconsulta">{{ consulta.precioconsulta }}</td>
                    <td class="tdconsultaedit">
                        <a class="btn btn-secondary" href="/editarconsulta/{{consulta.idconsulta}}/">Editar</a>
                       
                        <button type="button" class="btn btn-danger" onclick="eliminarregistro(
                            id = '{{ consulta.idconsulta}}', 
                            objeto='consulta',
                            objeto2='{{consulta.fechaconsulta}}'
                            )">Eliminar</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "paginacion.html" %}
    {% if mensaje == 1 %}
    <script>
        swal({
			title: "!No encontrado!",
			text: "No existe ese Paciente",
			timer: 2000,
			showConfirmButton: false});
    </script>
    {% else %}
        {% if  mensaje == 2 %}
        <script>
            swal({      // ESTA EN PRUEBAAA
                title: "!Consulta Creada!",
                text: "",
                timer: 2000,
                showConfirmButton: false});
        </script>
        {% endif %}
    {% endif %}
{% endblock content %}