{% extends 'index.html' %}

{% block title %} | Consultas {% endblock title %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1>Consultas</h1>
</div>
<div class="container1">
    <div class="container2">   
        <a class="btn btn-primary" href="/agregarconsulta/">Agregar</a>
    </div>
    <div class="container2">
        <h3>Buscar:</h3>
        <input type="search" id="search">
        <h3> </h3>
        <button type="button" class="btn btn-success" onclick="buscarconsulta( )">Buscar</button>
    </div>
</div>
    <table class="table table-bordered border-primary">
        <thead>
            <th>Numero</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Paciente</th>
            <th>Observaciones</th>
            <th>Precio</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for consulta in entity %}
                <tr class="trconsulta">
                    <td class="tdconsultaid">{{ consulta.idconsulta }}</td>
                    <td class="tdconsulta">{{ consulta.fechaconsulta }}</td>
                    <td class="tdconsulta">{{ consulta.horaconsulta }}</td>
                    <td class="tdconsulta">{{ consulta.paciente.nombre}}</td>
                    <td class="tdconsultaobrservaciones">{{ consulta.observaciones }}</td>
                    <td class="tdconsulta">{{ consulta.precioconsulta }}</td>
                    <td class="tdconsultaedit">
                        <a class="btn btn-secondary" href="/editarconsulta/{{consulta.idconsulta}}/">Editar</a>
                       
                        <button type="button" class="btn btn-danger" onclick="eliminarregistro(
                            id = '{{ consulta.idconsulta}}', 
                            objeto='consulta',
                            objeto2='{{consulta.fechaconsulta}}'
                            )">Eliminar</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "paginacion.html" %}
</div>
{% endblock content %}