{% extends 'index.html' %}

{% block title %} | Consultas {% endblock title %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1>Consultas</h1>
</div>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="btn btn-primary" href="/agregarconsulta/">Agregar</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
    <table class="table table-bordered border-primary">
        <thead>
            <th>Numero</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Paciente</th>
            <th>Observaciones</th>
            <th>Precio</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for consulta in entity %}
                <tr class="trconsulta">
                    <td class="tdconsultaid">{{ consulta.idconsulta }}</td>
                    <td class="tdconsulta">{{ consulta.fechaconsulta }}</td>
                    <td class="tdconsulta">{{ consulta.horaconsulta }}</td>
                    <td class="tdconsulta">{{ consulta.paciente.nombre}}</td>
                    <td class="tdconsultaobrservaciones">{{ consulta.observaciones }}</td>
                    <td class="tdconsulta">{{ consulta.precioconsulta }}</td>
                    <td class="tdconsultaedit">
                        <a class="btn btn-secondary" href="/editarconsulta/{{consulta.idconsulta}}/">Editar</a>
                       
                        <button type="button" class="btn btn-danger" onclick="eliminarregistro(
                            id = '{{ consulta.idconsulta}}', 
                            objeto='consulta',
                            objeto2='{{consulta.fechaconsulta}}'
                            )">Eliminar</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "paginacion.html" %}
</div>
{% endblock content %}