{% extends 'index.html' %}

{% block title %} | Registro de Consulta {% endblock title %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1>Agregar consulta</h1>
    </div>
</div>
<br>
<br>
  
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                       <div class="form-group">
                            <label>Paciente: </label>
                            {{ ConsultaForm.paciente }}
                       </div><br>
                       <div class="form-group">
                            <label>Precio: </label>
                            {{ ConsultaForm.precioconsulta }}
                       </div><br>
                       <div class="form-group">
                            <label>Observaciones: </label>
                            {{ConsultaForm.observaciones }}
                       </div><br>
                       
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a class="btn btn-secondary" href="javascript:history.back()">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  
   
    

{% endblock content %}