{% extends 'index.html' %}

{% block title %} | Citas {% endblock title %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1>Citas de: {{mes}} </h1>
    </div>
</div>

<div class="container1">
    <div class="container2">
        <a class="btn btn-primary" href="/agregarcita/">Agregar</a>
    </div>
    <div class="container2">
        <h3>Semana: {{semana}} </h3>
    </div>
    <div class="container2">
        <h3>Citas: {{ conteocitas }}</h3>
    </div>
    <div class="container2">
        <h4>Buscar: </h4>
        <input type="week" name="week">
        <button type="button" class="btn btn-info" onclick="buscarsemana()">Search</button>
    </div>
</div> 
    <table class="table table-bordered tablacita">
        <thead>
            <th>Hora/Dia</th>
            <th>Lunes: {{ fechalunes }}</th>
            <th>Martes: {{ fechamartes }}</th>
            <th>Miercoles: {{ fechamiercoles }}</th>
            <th>Jueves: {{ fechajueves }}</th>
            <th>Viernes: {{ fechaviernes }}</th>
        </thead>
        <tbody>
                <tr>{% for cita in citas1 %}
                    <td class="tdcitas">                       
                            {% if cita == 1 %}
                                <h6>8:00 - 9:00</h6>
                            {% else %}
                                    {% if cita == 2 %}
                                        <h6 style="color: crimson;">Disponible</h6>
                                        {% else %}
                                            <a class="btn btn-sm " href="/editarcita/{{cita.idcita}}/"><h6>{{cita.paciente.nombre}}</h6></a>
                                {% endif %}
                            {% endif %}                                    
                    </td>
                    {% endfor %}   
                </tr>
                <tr>{% for cita in citas2 %}
                    <td class="tdcitas">                       
                            {% if cita == 1 %}
                                <h6>9:00 - 10:00</h6>
                            {% else %}
                                    {% if cita == 2 %}
                                        <h6 style="color: crimson;">Disponible</h6>
                                        {% else %}
                                            <a class="btn btn-sm" href="/editarcita/{{cita.idcita}}/"><h6>{{cita.paciente.nombre}}</h6></a>
                                {% endif %}
                            {% endif %}                                    
                    </td>
                    {% endfor %}   
                </tr>
                <tr>{% for cita in citas3 %}
                    <td class="tdcitas">                       
                            {% if cita == 1 %}
                                <h6>10:00 - 11:00</h6>
                            {% else %}
                                    {% if cita == 2 %}
                                        <h6 style="color: crimson;">Disponible</h6>
                                        {% else %}
                                            <a class="btn btn-sm" href="/editarcita/{{cita.idcita}}/"><h6>{{cita.paciente.nombre}}</h6></a>
                                {% endif %}
                            {% endif %}                                    
                    </td>
                    {% endfor %}   
                </tr>
                <tr>{% for cita in citas4 %}
                    <td class="tdcitas">                       
                            {% if cita == 1 %}
                                <h6>11:00 - 12:00</h6>
                            {% else %}
                                    {% if cita == 2 %}
                                        <h6 style="color: crimson;">Disponible</h6>
                                        {% else %}
                                            <a class="btn btn-sm" href="/editarcita/{{cita.idcita}}/"><h6>{{cita.paciente.nombre}}</h6></a>
                                {% endif %}
                            {% endif %}                                    
                    </td>
                    {% endfor %}   
                </tr>
                <tr>{% for cita in citas5 %}
                    <td class="tdcitas">                       
                            {% if cita == 1 %}
                                <h6>01:00 - 02:00</h6>
                            {% else %}
                                    {% if cita == 2 %}
                                        <h6 style="color: crimson;">Disponible</h6>
                                        {% else %}
                                            <a class="btn btn-sm" href="/editarcita/{{cita.idcita}}/"><h6>{{cita.paciente.nombre}}</h6></a>
                                {% endif %}
                            {% endif %}                                    
                    </td>
                    {% endfor %}   
                </tr>
                <tr>{% for cita in citas6 %}
                    <td class="tdcitas">                       
                            {% if cita == 1 %}
                                <h6>02:00 - 03:00</h6>
                            {% else %}
                                    {% if cita == 2 %}
                                        <h6 style="color: crimson;">Disponible</h6>
                                        {% else %}
                                            <a class="btn btn-sm" href="/editarcita/{{cita.idcita}}/"><h6>{{cita.paciente.nombre}}</h6></a>
                                {% endif %}
                            {% endif %}                                    
                    </td>
                    {% endfor %}   
                </tr>
                <tr>{% for cita in citas7 %}
                    <td class="tdcitas">                       
                            {% if cita == 1 %}
                                <h6>03:00 - 04:00</h6>
                            {% else %}
                                    {% if cita == 2 %}
                                        <h6 style="color: crimson;">Disponible</h6>
                                        {% else %}
                                            <a class="btn btn-sm" href="/editarcita/{{cita.idcita}}/"><h6>{{cita.paciente.nombre}}</h6></a>
                                {% endif %}
                            {% endif %}                                    
                    </td>
                    {% endfor %}   
                </tr>
                <tr>{% for cita in citas8 %}
                    <td class="tdcitas">                       
                            {% if cita == 1 %}
                                <h6>04:00 - 05:00</h6>
                            {% else %}
                                    {% if cita == 2 %}
                                        <h6 style="color: crimson;">Disponible</h6>
                                        {% else %}
                                            <a class="btn btn-sm" href="/editarcita/{{cita.idcita}}/"><h6>{{cita.paciente.nombre}}</h6></a>
                                {% endif %}
                            {% endif %}                                    
                    </td>
                    {% endfor %}   
                </tr>
                <tr>{% for cita in citas9 %}
                    <td class="tdcitas">                       
                            {% if cita == 1 %}
                                <h6>05:00 - 06:00</h6>
                            {% else %}
                                    {% if cita == 2 %}
                                        <h6 style="color: crimson;">Disponible</h6>
                                        {% else %}
                                            <a class="btn btn-sm" href="/editarcita/{{cita.idcita}}/"><h6>{{cita.paciente.nombre}}</h6></a>
                                {% endif %}
                            {% endif %}                                    
                    </td>
                    {% endfor %}   
                </tr>
        </tbody>
        
    </table>
 
   
    <!--{% include "paginacion.html" %}-->

{% endblock content %}