{% extends 'index.html' %}

{% block title %} | Pacientes {% endblock title %}

{% block content %}
<div class="text-center">
    <h1>Buscar Paciente</h1>
</div>

  <div class="w-100 text-center">
    <form autocomplete="off" id="search-form" method="post">
        {% csrf_token %}
        <input type="text" id="search-input" class="p-3 w-50 search mt-4" placeholder="Buscar paciente">
        <div id="result-box" class="result-card not-visible">
            
        </div>
    </form>
</div>
<!--
    <table class="table table-bordered border-primary">
        <thead>
            <th style="width: 500px;" >Nombre</th>
            <th style="text-align: center;">Fecha Nacimiento</th>
            <th>Telefono</th>
            <th style="text-align: center;">Opciones</th>
        </thead>
        <tbody>
            {% for paciente in entity %}
                <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td style="text-align: center;">{{ paciente.fecha_nacimiento }}</td>
                    <td>{{ paciente.telefono}}</td>
                    <td class="centrado2">
                        <a class="btn btn-secondary" href="/editarpaciente/{{paciente.idpaciente}}/">Editar</a>
                        <button type="button" class="btn btn-danger" onclick="eliminarregistro(
                            id = '{{ paciente.idpaciente}}', 
                            objeto='paciente',
                            objeto2='{{paciente.nombre}}'
                            )">Eliminar</button>
                        <a class="btn btn-info" href="/historial/{{paciente.idpaciente}}/">Historial</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "paginacion.html" %}
-->
    <script>
        const sendSearchData = (pacientes) =>{
    
            $.ajax({
                type: 'POST',
                url:'{% url="search" %}',
                data: {
                    'csrfmiddlewaretoken': csrf,
                    'pacientes':pacientes,
                },
                success: (res) =>{
    
                },
                error:(err) =>{
                    console.log(err)
                }
            })
    
        }
        const search_form = document.getElementById('search-form')
        const search_input = document.getElementById('search-input')
        const result_box = document.getElementById('result-box')
    
        const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value
    
        search_input.addEventListener('keyup', e=>{
            console.log(e.target.value);
    
            if(result_box.classList.contains('not-visible')){
                result_box.classList.remove('not-visible')
            }
    
            sendSearchData(e.target.value);
        })
    </script>

{% endblock content %}