{% extends 'base.html' %}

{% block title %} | Consultas {% endblock title %}

{% block content %}
<div class="text-center">
    <br><br>
        <h1>System</h1>
</div>
<d class="container_home_buttons">
  <a class="btn btn-outline-success" href="/agregarpaciente/">Agregar paciente</a>
  <a class="btn btn-outline-success" href="/agregarcita/">Agregar cita</a>
  <a class="btn btn-outline-success" href="/agregarconsulta/">Agregar consulta</a>
  
    <input class="form-control me-2" type="text" placeholder="Ingrese un nombre" aria-label="Search" name="consulta">

    <button class="btn btn-outline-success" type="submit" onclick="buscar_consulta()">Buscar</button>


</div>
<div class="container_home">
  <div class="container_estad_2">
    <h4>Proxima cita</h4>
    {% for cita in proximacita %}
    <h4>Paciente:  {{cita.paciente.nombre}}</h4>
    <h4>Hora:  {{cita.horacita}}</h4>
    {% endfor %}
  </div>
  <div class="container_estad_2">
    <h4>Citas: {{citashoy}} </h4> 
  </div>
  <div class="container_estad_2">
    <h4>Consultas: {{consultashoy}} </h4>
  </div>
  <div class="container_estad_2">
    <h4>Devengado:${{devengadohoy}}  </h4>
  </div>
</div>

{% endblock content %}>