<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
</head>
<body>
    Incio de sesion requerido
</body>
<form method="post">
    {% csrf_token %}
    <label for="usuario">
        usuario: 
        <input type="text" name="username">
    </label>
    <label for="password">
        password: 
        <input type="password" name="password">
    </label>
    <button type="submit">Iniciar sesion</button>
</form>
</html>