/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;
  background: #e3f2fd;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #4070f4;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}


/*CONTAINERS BOTONES GUARDAR Y CANCELAR*/
.container1{
  display:flex;
  justify-content: space-evenly;
}

/*DISENO PARA BOTONES EDITAR Y ELIMINAR EN PACIENTES*/
.centrado2{
  display: flex;
  justify-content: space-evenly;
}



/*DISENO PARA ESTADISTICAS*/
.container_1{
  background-color: hsl(240, 51%, 74%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;  
  height: 100%;
}

.container_estad_2{
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  width: 25%;
}
.container_home{
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: row;
}





/*DISENO DE TABLA HISTORIAL*/
.tdconsultaobrservaciones{
 
  max-width: 50px;
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow: hidden;
}
.centrar_texto{
  text-align: center;
}

.container_resumen_datoscitas{
  display: flex;
  justify-content: space-evenly;
}

.container_resumen_datoscitas2{
  display: flex;
  justify-content: left;
}



/*DISENO DE HOME*/
.container_home_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



/* DISENO DE LOS BOTONTES AGREGAR RESTABLECER Y BUSCAR*/
.content{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.content2{
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.content3{
  display: flex;
  justify-content: center;
  width: 100%;
  }
.content4{
  display: flex;
  justify-content: start;
  width: 100%;
}
.content5{
  display: flex;
  justify-content: end;
  width: 100%;
}
.content6{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.content7{
  display: flex;
  justify-content: end;
  flex-direction: row;
}



/* TABLAS RESPONSIVE*/
.container1{
  max-width: 1440px;
  width: 100%;
  background:#fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.container h2{
  padding: 2rem 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.tbl{
  width: 100%;
  border-collapse: collapse;
}
.tbl thead{
  background:#424949 ;
  color:#fff;
}
.tbl thead tr th {
  font-size: 0.9rem;
  padding: 0.4rem;
  letter-spacing: 0.1rem;
  vertical-align: top;
  border: 0.5px solid #aab7b8;
}
.tbl tbody tr td {
  font-size: 0.5 rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
  text-align: center;
  border: 0.5px solid #aab7b8;
  padding: 0.4rem;
}
.tbl tr:nth-child(even){
  background: #ccc;
}
.tbl tr:hover td{
  background: #839192;
  color: black;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
@media(max-width:768px){
  .tbl thead{
    display: none;
  }
  .tbl tr,
  .tbl td{
    display: block;
    width: 100%;
  }
  .tbl tr{
    margin-bottom: 1rem;
  }
  .tbl tbody tr td{
    text-align: right;
    position: relative;
  }
  .tbl td::before{
    content: attr(data-lable);
    position: absolute;
    left: 0;
    width: 50%;
    text-align: left;
    padding-left: 1.2rem;
  }
  


  
  
}